@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

[data-theme="dark"] {
  color-scheme: dark;
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 17, 17, 17;
}

body {
  min-height: 100vh;
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: "Fira Code", monospace;
}

body.dark {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.glow {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

/* Ensure the page takes up at least the full viewport height */
html,
body {
  height: 100%;
  overflow: auto;
  scroll-padding-top: 6rem; /* Adjust based on your header height */
}

/* Allow scrolling on the main content area */
main {
  height: 100vh;
  overflow-y: auto;
}

/* Custom scrollbar styles */
main::-webkit-scrollbar {
  width: 8px;
}

main::-webkit-scrollbar-track {
  background: #2d3748;
}

main::-webkit-scrollbar-thumb {
  background-color: #4a5568;
  border-radius: 4px;
}

main::-webkit-scrollbar-thumb:hover {
  background-color: #718096;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.animate-marquee {
  animation: marquee 10s linear infinite;
  /* Adjust duration and timing function as needed */
  white-space: nowrap;
  /* Prevent text from wrapping */
}

.markdown-content {
  position: relative;
  z-index: 1;
}

/* Back to top button positioning */
button[class*="flex items-center"] {
  position: sticky;
  bottom: 20px;
}